# Ignore node_modules directory
node_modules/

# Ignore build output
dist/
build/


# Ignore IDE or editor specific files
.vscode/
.idea/

# Ignore npm debug log
npm-debug.log

# Ignore environment specific files
.env
.env.*

# Ignore TypeScript compilation output
*.js
*.js.map

# Ignore TypeScript type declaration files
*.d.ts

# Ignore package-lock.json for npm
package-lock.json

